<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to membersonly.com, <%= @user.nick %></h1>
    <p>
      Congrats on making your post!
    </p>
  </body>
</html>