<% if notice %>
    <div class="alert alert-success notice my-2" role="alert">
        <%= notice %>
    </div>
<% end %>
<% if alert %>
    <div class="alert alert-danger alert my-2" role="alert">
        <%= alert %>
    </div>
<% end %>
      
    